<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form   class =""       action ="/"method="post">
        <label for="todolist"> to do list</label>
          <input id="todolist"type="text" name="todolist" value="">
          <button type="submit" name="button">Add to do list</button>
        </form>

  </body>
</html>
